/*
   UTITLITES.TEXT-ALIGNMENT
   ----

   Default is mobile first, so responsive classanmes suffixes
   are chosen from a point of propagate from mobile upwards

   * In html prefer
   * --@sm means, and sm breakpoint upwards
* ==================================================== */


$u-text-alignment-breakpoints-list: $qnorr-grid-breakpoints-list !default;

.u-text-c { text-align: center; }
.u-text-l { text-align: left; }
.u-text-r { text-align: right; }
.u-text-j { text-align: justify; }
.u-text-i { text-align: inherit; }


@each $breakpoint in $u-text-alignment-breakpoints-list {
   @include mappy-bp($breakpoint){
      .u-text-c#{$qnorr-breakpoint-separator}#{$breakpoint} { text-align: center; }
      .u-text-l#{$qnorr-breakpoint-separator}#{$breakpoint} { text-align: left; }
      .u-text-r#{$qnorr-breakpoint-separator}#{$breakpoint} { text-align: right; }
      .u-text-j#{$qnorr-breakpoint-separator}#{$breakpoint} { text-align: justify; }
      .u-text-i#{$qnorr-breakpoint-separator}#{$breakpoint} { text-align: inherit; }
   }
}
