/*
   SETTINGS.GLOBALS
   ----

   App wide variables.

   To ensure immediate recognition of the variable:
   * Prefix with "$g-" of globals
   * Add -map, -maps, -list accordingly

   -------------------------------

   1. Alias
   2. We an assume 8pt pixel grid in this project for vertical-rhythm.
      Every spacing, every block, every component of the app should be base or multiple of this unit
      more: https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632#.jqcuvw6bp

*/


/* Typography
================================== */

$system-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !default;
$qnorr-font-family: "Roboto",
   -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !default;
$qnorr-primary-font-family: $qnorr-font-family !default; // [1]
$qnorr-secondary-font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,"Open Sans", sans-serif !default;
$qnorr-tertiary-font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,"Open Sans", sans-serif !default;
$qnorr-monospace-font-family: Roboto Mono, Inconsolata, monospace !default;
$qnorr-base-font-size: 16px !default;
$qnorr-base-font-line-height: 24px !default;;
$qnorr-baseline: 24px !default;


/* Pixel Grid
================================== */
$qnorr-pixel-grid-unit: round($qnorr-baseline / 3) !default;
$qnorr-spacing-unit: $qnorr-pixel-grid-unit !default; // [2, 1]

$qnorr-spacing-unit-tiny:   $qnorr-spacing-unit / 3;
$qnorr-spacing-unit-small:  $qnorr-spacing-unit / 2;
$qnorr-spacing-unit-medium: $qnorr-spacing-unit * 1.5;
$qnorr-spacing-unit-double: $qnorr-spacing-unit * 2;
$qnorr-spacing-unit-large:  $qnorr-spacing-unit * 3;

$qnorr-spacing-unit-kilo:  $qnorr-spacing-unit * 4;
$qnorr-spacing-unit-mega:  $qnorr-spacing-unit * 5;
$qnorr-spacing-unit-giga:  $qnorr-spacing-unit * 6;



/* Grids and Wrappers
================================== */
$qnorr-grid-columns: 12 !default;
$qnorr-grid-gutter-map: (
   null: $qnorr-baseline / 3,
   xs:  $qnorr-baseline / 2,
   sm: $qnorr-baseline
) !default;

$qnorr-grid-breakpoints-list: ('xxs', 'sm', 'mdl', 'lg'); //a subset of $qnorr-breakpoints;
$qnorr-breakpoint-separator: \@; //escaped char

$qnorr-wrapper-sizes-map:(
   s:   600px,
   sm:  720px,
   md:  85%,
   mdl: 100%,
   lg:  1140px,
   xl:  1280px,
   xxl: 1580px
) !default;

