/*
   SETTTING.GLOBAL-BREAKPOINTS
   ----

   [1]
   Using mappy breakpoints Awesome mixin
   https://github.com/zellwk/mappy-breakpoints

   Note: it will convert values to ems for consintent
   performance in most browsers

   http://zellwk.com/blog/media-query-units/
* ==================================================== */

$qnorr-breakpoints-map: (
   'xxs':  360px,
   'xs':   480px,
   's' :   600px,
   'sm':   768px,
   'md':   992px,
   'mdl':  1024px,
   'lg':   1280px,
   'xl':   1440px,
   'xxl':  1650px,
   'hd':   1920px
);

$mappy-breakpoints: $qnorr-breakpoints-map; // [1]
