/*
    SETTINGS.TYPESCALE
    ----

* ==================================================== */


// size, leading pairs, defining in pixels will convert everything to REM
// null means mobile first, that's the size of the font from 0px and beyond
$qnorr-typescale-maps: (
	mega: (
      null: (32px, 48px),
      sm:   (48px, 56px)
   ),
	kilo: (
      null: (24px, 32px),
      sm:   (32px, 48px)
   ),
	1: (
      null: (20px, 24px),
      sm:   (24px, 32px)
   ),
	2:    (
      null: (16px, 24px),
      sm:   (20px, 24px),
   ),
	3:    (16px, 24px),
	4:    (14px, 20px),
	5:    (12px, 14px),
	6:    (10px, 12px),
);

$qnorr-font-weights: (300, 400, 600, 700);
