// this works because of parcel .sassrc
// ~ is alias for ./scss/
@import "~qnorr.scss";


body {
  background: #101010;
  color: lime;
}



.box {
  background-color: lime;
  padding: 0.5rem;
  color: black;
}
