////
/// Grid object for making flex powered grids
/// @group Objects
/// @author Whitesmith
////

/// grid wrapper
.o-grid {
  @include qnorr-grid;
}

/// grid column
.o-grid__column,
.o-grid__col {
  @include qnorr-grid-column;
  @include qnorr-grid-column-span('auto');
  @include qnorr-grid-gutters($rules: ('margin-bottom')); // [1]

  // [2]
  // .o-grid{
  //   flex: 1 1 auto;
  // }
}

/// breaks next column to a new row
.o-grid__br {
  display: block;
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}




/// remove gutter spacing from grid and columns
.o-grid--flush-gutters {
  margin-left: 0;

  > .o-grid__column,
  > .o-grid__col {
    padding-left: 0;
    margin-bottom: 0
  }
}

/// remove only bottom gutter spacing from columns
.o-grid--flush-bottom-gutters {
  > .o-grid__column,
  > .o-grid__col {
    margin-bottom: 0px;
  }
}



/// wip
.o-grid--fixed-small-gutter{
  margin-left: -(px-to-rem(8px)) !important;

  > .o-grid__column,
  > .o-grid__col {
    padding-left: px-to-rem(8px) !important;
  }
}


@each $bp, $gutter in $qnorr-grid-gutter-map {
  .o-grid--fix-gutter-#{$qnorr-breakpoint-separator}#{$bp}-size {
    margin-left: -(px-to-rem($gutter));

    > .o-grid__column,
    > .o-grid__col {
      padding-left: px-to-rem($gutter);
    }
  }
}





/// make columns flex, good for equal height columns
.o-grid--flex-columns {
  > .o-grid__columns,
  > .o-grid__col {
    display: flex;
    flex-direction: column;
  }
}

/// remove default "expand to fit" flex mode
.o-grid--auto-width-columns {
  > .o-grid__column,
  > .o-grid__col {
    flex-grow: 0;
  }
}
