/// @todo
.o-list{
	margin: 0; //reset default margins;
	margin-bottom: $qnorr-baseline;
}

	.o-list__item{
		&:not(:last-child){
			margin-bottom: $qnorr-baseline/2;
		}
	}

.o-list--unstyled {
   list-style: none;
}

.o-list--horizontal{
	list-style: none;
	padding-left: 0;

	> .o-list__item{
		display: inline-block;
		vertical-align: middle;

		&:not(:last-child){
			margin-right: $qnorr-baseline/2;
		}
	}
}


