////
/// Layout to create media layouts
///
/// @group Objects
///
/// @link https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
/// @link http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
////


/// @requires {mixin} media
.o-media {
  @include media
}

  /// @requires {mixin} media-figure
  .o-media__figure {
    @include media-figure
  }

  /// @requires {mixin} media-body
  .o-media__body {
    @include media-body
  }




// VERTICAL ALIGNMENT
.o-media--middle   { align-items: center; }
.o-media--bottom   { align-items: flex-end; }
.o-media--baseline { align-items: baseline; }





// MODIFIERS
.o-media--flush {
   .o-media__figure { margin: 0 }
}
