////
/// Making skeleton objects
/// @group Objects
////

///
/// Main skeleton wrapper
///
.o-skeleton{
  position: relative;
  @include skeleton;
}

///
/// Scrollable body content, fixed tips
/// @todo decide on naming, there's too many alias
///
.o-skeleton__head,
.o-skeleton__feet,
.o-skeleton__foot,
.o-skeleton__footer,
.o-skeleton__tip{
  position: relative;
  @include skeleton-tip;
}

///
/// Expand to tips if content size doesn't reach them
///
.o-skeleton__body{
  position: relative;
  @include skeleton-body;
  display: flex;
  flex-direction: column;
}


///
/// Scrollable body content, fixed tips
/// @todo check how to workaroun IE bug
///
.o-skeleton--scrollable{
  height: 100%;

  .o-skeleton__body {
    @include skeleton-body($scrollable: true);
  }
}


///
/// Scrollable with auto height
/// @todo check how to workaroun IE bug
///
.o-skeleton--scrollable-auto {
  @include for-modern-IE {
    height: 100%;
  }

  .o-skeleton__body {
    @include skeleton-body($scrollable: 'auto');
  }
}
