////
/// @group Objects
////

///
/// Wrapper selector
/// @example markup - Wrapper selectro
///   <div class="o-wrapper">
///
.o-wrapper{
  @include qnorr-wrap;
}


///
/// Wrapper modifier
/// @example markup - Wrapper selectro
///   <div class="o-wrapper o-wrapp--flush">
///
.o-wrapper--flush {
  padding: {
    left: 0;
    right: 0;
  }
}


///
/// Wrapper modifier
/// @example markup - Wrapper selectro
///   <div class="o-wrapper o-wrapper-fluid">
///
.o-wrapper--fluid {
  width: 100%;
  max-width: 100%;
}
