////
/// The holy grail of layout reused patterns
/// Figure + text + alignment
///
/// @group Tools
/// @author Stubbornealla
///
/// @link http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
/// @todo naming, should we namespace o use more verbose media-object
////

///
/// Creates the media object wrapper
///
@mixin media {
  position: relative;
  z-index: 2; //dealing possible parent with pseudo-elements;
  display: flex;
}


///
/// Creates the media object wrapper. This element must be direct childs of media
///
/// @requires px-to-rem
/// @param {Number} $space [$qnorr-pixel-grid-unit*2] - the space between
///   figure and content applied in the right direction if first or last
///   child
@mixin media-figure($space: $qnorr-pixel-grid-unit*2){
  display: flex;
  flex: none; //do not shrink by default

  &:first-child {
    margin-right: px-to-rem($space);
  }

  &:last-child {
    margin-left: px-to-rem($space);
  }
}


///
/// Apply to the text wrapper. This element must be direct childs of media
///
@mixin media-body {
  // [1]
  flex: 1 0 0.000000000001px;
  min-width: 0px;
}
