///
/// Outputs a modern css font-face declaration
///
/// @group Tools
/// @param {String} $path - Path to your font file (no extension)
/// @param {String} $name ['Custom Font'] - Your font name
///   (yes you should keep the original but it's not mandatory)
/// @param {Number} $font-weight [400] - weight for this font file
/// @param {*} $font-style [normal] - Italic
/// @param {*} $font-display [swap] - Check link for more
///   More info: https://codepen.io/elifitch/pen/Ljqway
/// @param {*} $unicodde-range [U+000-5FF] -  Download only latin glyphs
///
/// @link https://equinsuocha.io/blog/web-fonts-in-2018
///
/// @example scss -
///   @include font-face(
///     $path: "/fonts/proxima-nova/proxima-nova-500",
///     $name: "Proxima Nova"
///     $weight: 500
///  )
///
@mixin font-face(
  $path,
  $name: "Custom Font",
  $font-weight: 400,
  $font-style: normal,
  $font-display: swap,
  $unicodde-range: U+000-5FF,
){
  @font-face {
    font-family: $name;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-style;
    unicode-range: $unicodde-range;
    src: local($name),
         url("#{$path}.woff2") format("woff2"),
         url("#{$path}.woff") format("woff");
  }
}
